# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
.env
.venv
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
pip-wheel-metadata/
*.log

# Jupyter Notebooks
.ipynb_checkpoints

# Data
data/raw/
!data/raw/
data/interim/
data/processed/
*.csv
*.xlsx
!data/raw/it.net.user.zs_fallback.csv

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
